*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: 0.8;
    transform: translateX(80px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px) rotate(0); }
  80% {
    opacity: 0.8;
    transform: translateX(-80px) rotate(180deg); }
  100% {
    opacity: 1;
    transform: translateX(0 rotate(180deg)); } }

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-center {
  text-align: center !important; }

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 100px; }
  .btn:link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 100px; }
  .btn:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 100px; }
  .btn__btn-white {
    color: #777;
    background-color: #fff; }
  .btn__btn-medium {
    padding: 15px 40px; }
  .btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5); }
  .btn:active {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.007), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__logo--box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header__logo--box__logo {
      height: 10rem;
      width: auto; }
    .header__logo--box__logo-sub {
      text-align: center;
      color: rgba(0, 0, 0, 0.788); }
  .header__header-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; }
    .header__header-primary:hover {
      transform: scale(1.5); }
  .header__header-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveInLeft 3s; }
  .header__header-primary-sub {
    display: block;
    letter-spacing: 1.8rem;
    font-size: 1.7rem;
    font-weight: 700;
    animation: moveInRight 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out; }
