
.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-text-center {
  text-align: center !important;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}